@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald&display=swap');

html {
  font-family: Nunito, sans-serif;
  font-size: 16px;
  background-image: url(../src/img/Background.png);
  background-size:cover;
  background-color: rgba(3, 3, 3);
  background-repeat: no-repeat ;
  width: auto;
  height: 900px;
  text-align: center;
}

::-webkit-scrollbar {
  display: none;
}

.search-input,
.search-button {
  font-size: 16px;
  font-weight: 700;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 8px;
  padding: 10px;
  margin: 70px  8px 70px 8px;
}

.search-button:hover {
  color: #C9D636;
  border-color: #C9D636;
  box-shadow: 0 0.6rem 0.7rem #c9d6363b;
}